@font-face { font-family: 'Sam3KRFont'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/Sam3KRFont.woff') format('woff'); font-weight: normal; font-style: normal; }

@keyframes bg-scroll-64px
{
    from {background-position: 0px 0px;}
    to {background-position: 64px 64px;}
}

@keyframes bob-horizontal-90deg
{
    0% {transform: translateX(0px) translateY(-2px) rotate(4deg);}
    50% {transform: translateX(-24px) translateY(4px) rotate(-4deg);}
    100% {transform: translateX(0px) translateY(-2px) rotate(4deg);}
}

@keyframes fly-out
{
    from {transform: translateX(0);}
    to {transform: translateX(-120%);}
}

@keyframes fly-in
{
    from {transform: translateX(-120%);}
    to {transform: translateX(0);}
}

/* (meta)classes? */
.checker-bg
{
    background-color: #121213;
    background: linear-gradient(45deg, #252427 25%, transparent 25%, transparent 75%, #252427 75%, #252427),
                linear-gradient(-45deg, #252427 25%, black 25%, black 75%, #252427 75%, #252427);
    background-size: 64px 64px;
    animation: bg-scroll-64px 1s linear infinite;
}

.drop-shadow-4px
{
    filter: drop-shadow(4px 4px 0px #121213);
}

.drop-shadow-soft
{
    filter: drop-shadow(0px 6px 8px #121213AA);
}

.bar-hide
{
    animation: fly-out 0.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}

.bar-show
{
    animation: fly-in 0.5s cubic-bezier(0.19, 1, 0.22, 1) forwards;
}

/* image metaclasses */
.img-fill
{
    width: 100%;
}

.image-center
{
    display: block;
    margin: 0 auto 0 auto;
}

.txt-center
{
    text-align: center;
}

#article-wrapper article.image-center
{
    padding: 10px;

    text-align: center;
    background-color: black;
}

article.image-center p
{
    font-size: 0.8em;
    font-family: 'Consolas', 'Nanum Gothic Coding', monospace;
    font-style: italic;
}

article.image-center #image-list
{
    display: flex;
    width: 100%;
    flex-direction: row;
    overflow: hidden;
    /* align-items: center; */
}

#image-list img
{
    margin: 0 0.5em 0 0.5em;

    flex: 1 1 0px;
    max-width: 100%;
}

html
{
    scroll-behavior: smooth;
}

/* Set body margin */
body
{
    margin: 0;
    padding: 0;

    background-color: #121213;
    color: #dfcfad;
}

/* Code! */
pre > code.hljs
{
    position: relative;
    display: block;
    width: 90%;
    max-height: 32em;
    margin: 0 auto 0 auto;
    font-size: initial;
    font-family: 'Consolas', 'Nanum Gothic Coding', monospace;
    font-style: initial;
    border: none;
}

pre
{
    content: "";
    display: block;
    width: 100%;
    background-color: black;
}

code
{
    display: inline-block;
    /* padding: 0.2em; */
    border: 0.1em solid #5e5c62;
    border-radius: 0.25em;
    font-family: 'Consolas', 'Nanum Gothic Coding', monospace;
    font-style: italic;
    background-color: black;
}

/* Set link colour */
a
{
    color: #94eacd;
}

a:visited
{
    color: #758ba5;
}

/* Aside Navigator */
div#aside-wrapper
{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 20%;
    height: 100%;
    
    background-color: #121213;
    box-shadow: 10px -10px 64px black;
    /* animation: fly-out 0.5s ease-in forwards; */
}

div#aside-wrapper::after
{
    position: absolute;
    z-index: 1;
    content: "";
    display: block;
    top: 0;
    left: 100%;
    height: 100%;
    width: 20px;

    background: linear-gradient(135deg, #121213 10px, transparent 0),
                linear-gradient(45deg, #121213 10px, transparent 0);
    background-position: right bottom;
    background-repeat: repeat-y;
    background-size: 20px 20px;
}

#aside-wrapper aside
{
    margin: auto;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#aside-wrapper #top-bar
{
    position: relative;
    margin: 0 0 2.5em 0;
    z-index: 2;
    display: block;
    height: 64px;
}

#aside-wrapper #top-bar button
{
    position: absolute;
    display: block;
    left: calc(100% + 16px);
    top: 50%;
    width: 100px;
    height: 64px;
    font-family: 'Nanum Gothic Coding', 'Consolas', monospace;
    font-weight: bolder;
    font-size: 42px;
    line-height: 32px;
    text-align: center;
    
    color: #121213;
    background-color: #ef6e3e;
    cursor: pointer;
    border: none;
    filter: drop-shadow(4px 4px 4px #0004);
}

#aside-wrapper #top-bar button::before
{
    content: "";
    position: absolute;
    display: block;
    left: 100%;
    top: 0;

    border: 0px solid #ef6e3e;
    border-width: 32px 0.5em 32px 0;
    border-color: #ef6e3e transparent #ef6e3e transparent;
}

#aside-wrapper #top-bar button::after
{
    content: "";
    position: absolute;
    display: block;
    left: -0.5em;
    top: 0;

    border: 0px solid #ef6e3e;
    border-width: 32px 0 32px 0.5em;
    border-color: #ef6e3e #ef6e3e #ef6e3e #5e5c62;
}

#aside-wrapper #top-bar button:hover
{
    transition: background-color 0.2s;
    background-color: #FF4F00;
}

#aside-wrapper #top-bar button:hover::before
{
    transition: border-color 0.2s;
    border-color: #FF4F00 transparent #FF4F00 transparent;
}

#aside-wrapper #top-bar button:hover::after
{
    transition: border-color 0.2s;
    border-color: #FF4F00 #FF4F00 #FF4F00 #5e5c62;
}

#aside-wrapper b
{
    position: absolute;
    z-index: 1;
    width: calc(100% + 16px);
    margin: 0;
    line-height: 64px;

    text-align: center;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 3.0em;
    color: #ef6e3e;
    background-color: #252427;
    background-image: linear-gradient(45deg, transparent, transparent 18%, #fff4 18%, #fff4 19%, transparent 19%, transparent 20%, #fff4 20%, #fff2 70%, transparent 70%, transparent 75%, #fff4 75%, #fff4 80%, transparent 80%, transparent);
    text-shadow: 0 0.1em black;
    box-shadow: 0 0 4px black;
}

#aside-wrapper ul
{
    padding: 0 1em;
}

#aside-wrapper li
{
    z-index: 2;
    color: #ef6e3e;
    line-height: 1.5em;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 1.75vw;
    font-weight: bold;
    text-shadow: 0 0.05em black;
    list-style-type: lower-greek;
    list-style-position: inside;
}

#aside-wrapper li a
{
    text-decoration: none;
}

/* highlight */
#aside-wrapper li.current
{
    position: relative;
    color: #242529;
}

#aside-wrapper li.current a
{
    color: #242529;
}

#aside-wrapper li.current::before
{
    content: "";
    display: block;
    position: absolute;
    z-index: -1;
    left: -1em;
    top: 0;
    width: calc(100% + 2.0em);
    height: 100%;
    background-color: #fd0;
    box-shadow: 0 0 4px black;
}

#aside-wrapper li.current::marker
{
    display: block;
}

#aside-wrapper li.current::after
{
    content: "";
    display: block;

    width: 1em;
    height: 0;
    position: absolute;
    left: 100%;
    top: 100%;

    border: 0px solid #fd0;
    border-width: 0.5em 0.5em 0.5em 1.0em;
    border-color: #dba92b transparent #dba92b #5e5c62;
    z-index: -2;
    transform: translateY(-50%);
    filter: drop-shadow(2px 4px 4px #0004);
}

/* Contents wrapper */
div#article-wrapper
{
    position: relative;
    z-index: 0;
    margin: auto;
    width: 80%;
    overflow-wrap: break-word;
    overflow: hidden;
    background-color: #242529;
    box-shadow: 0 0 32px black;
}

/* Contents */
#article-wrapper > article
{
    counter-reset: headerCounter 0;
    padding: 30px;
    font-size: 1.2em;
    font-family: 'Nanum Gothic Coding', serif;
}

#article-wrapper > article > h1
{
    counter-increment: headerCounter 1;
}

#article-wrapper > article > h1::before
{
    content: counter(headerCounter, lower-greek)". ";
    color: #ef6e3e;
}

#article-wrapper footer
{
    text-align: center;
    font-family: 'Bree Serif', 'Nanum Gothic Coding', serif;
}

/* Alert */
#article-wrapper .alert
{
    position: relative;
    padding: 0.05em 3em 0.05em 3em;
    color: #ebdff7;
    border: 1px solid #ebdff7;
    box-shadow: 0 0 16px #5e5c62;
}

#article-wrapper .alert #left
{   
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 80px;
    height: 100%;
}

/* icon wrapper */
#article-wrapper .alert #left #image
{
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
}

#article-wrapper .alert #left #image::before
{   
    content: "";
    position: absolute;
    display: block;
    top: -16px;
    width: 50px;
    height: 50px;
    
    image-rendering: crisp-edges;
    background-image: url(assets/ICON_NJOH.png);
    background-size: 100% 100%;
}

#article-wrapper .alert #left #image::after
{   
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 25px;
    width: 80px;
    height: 80px;
    
    image-rendering: crisp-edges;
    background-image: url(assets/ICON_FINGER.png);
    background-size: 100% 100%;

    animation: bob-horizontal-90deg 1s ease-in-out infinite;
}

#article-wrapper .alert #right
{
    position: relative;
    display: block;
    margin: auto 0 auto 80px;
    width: auto;
    font-size: 1.0em;
    text-shadow: 0 0.1em black;
}

/* Table of Contents */
#article-wrapper #toc-wrapper
{
    display: none;

    background-color: #121213;
}

#toc-wrapper::before
{
    position: relative;
    z-index: 3;
    content: "";
    display: block;
    top: 0px;
    width: 100%;
    height: 20px;

    background: linear-gradient(135deg, #ef6e3e 15px, transparent 0),
                linear-gradient(-135deg, #ef6e3e 15px, transparent 0);
    background-position: bottom left;
    background-repeat: repeat-x;
    background-size: 25px 25px;
}

#toc-wrapper::after
{
    position: relative;
    content: "";
    display: block;
    top: 20px;
    width: 100%;
    height: 20px;

    background: linear-gradient(135deg, #121213 15px, transparent 0),
                linear-gradient(-135deg, #121213 15px, transparent 0);
    background-position: bottom left;
    background-repeat: repeat-x;
    background-size: 25px 25px;
}

#article-wrapper #toc-wrapper div
{
    display: block;
    padding: 1em;
}

#article-wrapper #toc-wrapper p
{
    margin: 0;
    padding: 0;

    color: #ef6e3e;

    text-align: center;
    font-family: 'Black Han Sans', sans-serif;
    font-size: 2.5em;
    text-shadow: 0 0.1em black;
}

#article-wrapper #toc-wrapper li
{
    color: #ef6e3e;
    
    line-height: 1.5em;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 1.25em;
    font-weight: bold;
    text-shadow: 0 0.05em black;
    list-style-type: lower-greek;
}

#article-wrapper #toc-wrapper li a
{
    text-decoration: none;
}

/* Header */
#article-wrapper #header-wrapper
{
    content: "";
    display: block;
    margin: 0;
    padding: 0;
    padding-top: 32px;
    padding-bottom: 32px;
    height: 30vh;

    background-color: #ef6e3e;
}

#article-wrapper #header-wrapper::after
{
    position: absolute;
    content: "";
    display: block;
    top: calc(30vh + 64px);
    width: 100%;
    height: 20px;

    background: linear-gradient(135deg, #ef6e3e 15px, transparent 0),
                linear-gradient(-135deg, #ef6e3e 15px, transparent 0);
    background-position: bottom left;
    background-repeat: repeat-x;
    background-size: 25px 25px;
}

#header-wrapper #header-content-wrapper
{
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: transparent;
    color: #fff1c1;
}

#header-wrapper #header-content-wrapper header
{
    font-family: 'Black Han Sans', sans-serif;
    font-size: 4vw;
    text-shadow: 0 0.1em black;
}

#header-wrapper #header-content-wrapper p
{
    font-family: 'Bree Serif', 'Nanum Gothic Coding', serif;
    font-style: italic;
    font-weight: bolder;
    font-size: 2vw;
    text-shadow: 0 0.1em black;
}


@media screen and (min-width: 1300px)
{
    #header-wrapper #header-content-wrapper header
    {
       font-size: 3.5em;
    }

    #header-wrapper #header-content-wrapper p
    {
       font-size: 1.5em;
    }
}

/* Phone mode */
@media screen and (max-width: 1000px)
{
    #header-wrapper #header-content-wrapper header
    {
       font-size: calc(3vh + 3vw);
    }

    #header-wrapper #header-content-wrapper p
    {
       font-size: calc(1.5vh + 1.5vw);
    }

    div#article-wrapper
    {
        margin: 0 0 0 0;
        width: 100%;
    }

    div#aside-wrapper
    {
        display: none;
    }

    #article-wrapper article
    {
        padding: 30px 0.5em 30px 0.5em;
        font-size: 1em;
    }

    /* toc */
    #article-wrapper #toc-wrapper
    {
        display: block;
    }

    /* alert */
    #article-wrapper .alert
    {
        padding: 0.05em 1em;
    }
    #article-wrapper .alert #left
    {
        display: none;
    }
    #article-wrapper .alert #right
    {
        margin: auto 0 auto 0;
        font-size: 1.0em;
    }
}

@media screen and (max-width: 1280px)
{
    /* imagelist */
    #article-wrapper article.image-center
    {
        padding-left: 0;
        padding-right: 0;
    }

    #article-wrapper article.image-center #image-list
    {
        flex-direction: column;
    }

    #article-wrapper article.image-center #image-list img
    {
        margin: 4px 0 4px 0;
    }
}

/* Title text size safenet */
@media screen and (max-height: 700px)
{
    #header-wrapper #header-content-wrapper header
    {
       font-size: calc(2.5vh + 2.5vw);
    }

    #header-wrapper #header-content-wrapper p
    {
       font-size: 1.0em;
    }
}